@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Sixtyfour&display=swap");
/* main styles */
:root {
  --timer-font: "Sixtyfour";
  --default-font: "Rock Salt";
  --button-bg: #8d8d8d;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1a1a1a;
  position: relative;
}

.top-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  align-items: center;
}

/* fixed at center */
.logo-brand {
  grid-column: 2;
  margin: auto;
  height: 5.3125rem;
  width: 6.25rem;
}

/* right of logo-brand with a bit of gap (gap should not affect the position of logo-brand) */
#streak-count {
  grid-column: 3;
  margin-left: 25rem;
  color: white;
  font-family: var(--default-font);
  font-size: 3rem;
  align-items: self-end;
  letter-spacing: 0.625rem;
}

.pomodoro-timer {
  font-family: var(--timer-font);
  color: white;
  font-size: 8rem;
  letter-spacing: 20%;
}

.button {
  font-family: var(--default-font);
  font-size: 2.5rem;
  color: white;
  border-style: none;
  background-color: transparent;
}

.button:disabled {
  color: #b8b5b5;
  text-decoration: line-through;
}

.button:hover:enabled:not(#stop-timer) {
  background-color: transparent;
}

.button:hover:enabled:not(#start-timer) {
  color: red;
  background-color: transparent;
}

#start-timer:enabled,
#stop-timer:enabled {
  background-color: var(--button-bg);
}

.button-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.tomato {
  height: 3.125rem;
  width: 3.125rem;
  position: absolute;
}
